<header> content header</header>
<nav class="navbar navbar-expand-lg bg-primary-subtle">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item px-3">
            <a class="nav-link active fw-semibold" routerLink="">Home</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active fw-semibold" routerLink="/products">Products</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active fw-semibold" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active fw-semibold" routerLink="/about">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav px-5 gap-4">
            <li class="nav-item px-3">
              <a class="nav-link active fw-semibold" routerLink="/clients">Clients</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link active fw-semibold" routerLink="/login">Login</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
